<div>

    <h2>Arrivals</h2>

	<h3>As of: {{arrivals.asOf}}</h3>
	maxOutputSlots={{maxOutputSlots}}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Arrivals</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="station in arrivals.stations">
                	<td>{{station.id}}</td>
                	<td>{{station.name}}</td>
                	<td>
                		<ul>
                			<li ng-repeat="myArrival in station.arrivals">
                				<div style="background-color:{{myArrival.color}}">
                				{{myArrival.routeShortName}}
                				<!-- 
                				<pre>{{myArrival | json}}</pre>
                				 -->
                				</div>
                			</li>
                		</ul>
                	</td>
                </tr>
            </tbody>
        </table>
    </div>


	<div class="well">
		<p>
		arrivals.count={{arrivals.count}}
		<br/>
		arrivals.length={{arrivals.length}}
		</p>
		<p>
			<pre>arrival={{arrival}}</pre>
			<pre>arrivals={{arrivals}}</pre>
			<pre>foo={{foo}}</pre>
			<pre>$scope={{$scope}}</pre>
		</p>
	</div>

</div>
