
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myStationLabel">Create or edit a Station</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="station.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="station.name">

        </div>
        <div class="form-group">
            <label for="field_outputSlots">OutputSlots</label>
            <input type="number" class="form-control" name="outputSlots" id="field_outputSlots"
                    ng-model="station.outputSlots">

        </div>
        <div class="form-group">
            <label for="field_stopId">StopId</label>
            <input type="text" class="form-control" name="stopId" id="field_stopId"
                    ng-model="station.stopId">

        </div>
        <div class="form-group">
            <label for="field_travelTimeFromHomeToStationInSeconds">TravelTimeFromHomeToStationInSeconds</label>
            <input type="number" class="form-control" name="travelTimeFromHomeToStationInSeconds" id="field_travelTimeFromHomeToStationInSeconds"
                    ng-model="station.travelTimeFromHomeToStationInSeconds">

        </div>

        <div class="form-group">
            <label for="field_route">route</label>
            <select class="form-control" id="field_route" multiple name="route" ng-model="station.routes" ng-options="route as route.id for route in routes track by route.id">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
